[Desktop Entry]
Name=SST-viewer
Version=1.0
Exec=SSTviewer %f
Comment=SST image viewer for Empire Earth
Icon=sstviewer
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Graphics;
MimeType=image/sst;
